node_modules
# bundler config.
/.bundle

# precompiled data
/public
/app/assets/builds
# packages
/node_modules

# logfiles and tempfiles.
/log
/tmp

# various secrets
/config/master.key
.env
!.env.example

# zone identifiers made by interacting with WSL filesystem in a weird manner
*:Zone.Identifier
