# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark database schema as generated
db/schema.rb linguist-generated
# Improve diffs for bun lockb
bun.lockb binary diff=lockb

# See https://bun.sh/docs/install/lockfile
*.lockb diff=lockb
