:root {
  --border-radius: .75rem;
}

.input, .inputWrapper, input, select, button {
  font-weight: 600;
  text-decoration: none;
  color: var(--f0);

  border: unset;
  outline: none;

  border-radius: var(--border-radius);
  padding: .5rem 1rem;

  background-color: var(--b200);
  &:hover, &:focus { background-color: var(--b250); }
  &:active, &:disabled { background-color: var(--b150); }

  &.accent {
    color: var(--b100);
    background-color: var(--af0);
    &:hover, &:focus { background-color: var(--af1); }
    &:active, &:disabled { background-color: var(--af2); }
  }
}
.inputWrapper {
  display: flex;
  align-items: center;
  > :is(input, select, button) {
    background-color: transparent;
    padding: 0;
  }
}
