@mixin mobile {
  @media (max-width: 50rem) { @content; }
}

$panel-gap: 0.5rem;
$item-gap: 0.5rem;
$border-radius: 0.5rem;
$elv: #1c1c1c;
$padding: 0.5rem;
$big-input-height: 2rem;
$width: calc(Min(80rem, 100vw) - #{($panel-gap * 2)});

@mixin panel {
  background-color: $elv;
  border-radius: $border-radius;
  padding: $padding;

  display: flex;
  flex-direction: column;
  gap: $item-gap;
}
.panel { @include panel }
