// colors
:root {
  // background
  --b000: #1d2021;
  --b100: #282828;
  --b150: #32302f;
  --b200: #3c3836;
  --b250: #45403e;
  --b300: #504944;

  // foreground
  --f0: #d4be98;
  --f1: #a79a83;
  --f2: #918274;

  // accent
  --af0: #d3869b;
}

h1 {
  color: var(--af0);
  font-weight: 800;
}
body, .input, input, select, button {
  color: var(--f0);
}

// dark!
:root {
  color-scheme: dark;
  background-color: var(--b100);
}

// logical sizing
* { box-sizing: border-box; }

// no default margins
h1, h2, h3, h4, h5, h6, p, span, a, strong, em, blockquote, cite, q, abbr, del, ins, mark, sub, sup, code, pre, kbd, var, samp, ol, ul {
  margin: unset;
}
