:root {
  color-scheme: dark;
  font-family: sans-serif;
}
body {
  overflow-x: hidden;
}

* { margin: 0 }

.media_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  & > li { max-width: 154px }
}

summary > * { display: inline-block }

video {
  width: 100svw;
  max-height: 100svh;
  aspect-ratio: 16/9;
  border: unset;
}
